.userImage{
    width: 142px;
    height: 142px;
    border-radius: 50%;
    margin-top:30px ;
}

.userImageDiv{
    display: flex;
    justify-content:center;
    width: 40%;

}
.buttonDiv{
    border: 1px solid #eaeaea;
    padding:5px;

}

.wrapper{
    display:flex;
    margin: auto;
    border: 1px solid #eaeaea;
    padding-bottom: 30px;
    max-width:935px;
}

.nameAndButtons{
    margin-left: -26px;
    display: flex;
    justify-content:space-evenly ;

}

.bold{
    font-weight: 600;
}

.username{
    font-size: 25px;
    font-weight: 350;
}
.description{
    margin-top: 30px;
}
.dots{
    margin-top: 10px;
}

.profileStats{
    display: flex;
    width: 90%;
    margin-top: 20px;
    margin-left: -29px;
    align-items: flex-start;
    justify-content:space-evenly ;
}

.profileInformation{
    margin-top: 40px;
}